/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.12.2015, 13:17:33
    Author     : cedricheisel
*/

.etColumn{
    float: left;
    width: 200px;
}
.etColumnName{
    background-color: #9a9797;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
}
.etField{
    background-color: white;
}
.etField:nth-child(2n){
    background-color: #e9d2d2;
}
.etEditableField{
    cursor: pointer;
}
.etEditableField input[type="text"]{
    border: none;
}