/**
 * Project 'editable-table'
 * In this css file the main settings to supply a table are inserted.
 * Please feel free to customize your table like you want
 *
 * @category editableTable
 * @author dr_vup aka Cedric
 * @company FHR Websolutions GbR
 * @version 0.9
 * @date 28.12.2015
 */


.etColumn{
    float: left;
    min-width: 200px;
    margin-left: 2px;
}
.etColumnName{
    background-color: #9a9797;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding-left: 4px;
}
.etField{
    background-color: white;
    padding: 0 4px 0 4px;
}
.etField:nth-child(2n){
    background-color: #e9d2d2;
}
.etEditableField{
    cursor: pointer;
}
.etEditableField input[type="text"]{
    border: none;
}